<div class="center">
  <div class="login">
    <h2>Nouveau mot de passe</h2>
    <form #f="ngForm" class="form" method="POST">
      <div class="password">
        <input type="password" autocomplete="off" name="password" [(ngModel)]="user.password"
          placeholder="Nouveau mot de passe">
          <input type="password" autocomplete="off" name="password2" [(ngModel)]="user.password2"
          placeholder=" Répéter le nouveau mot de passe">
          <input hidden="true" [(ngModel)]="user.token" name="token">
      </div>
      <button (click)="submit()"><i class="fas fa-paper-plane"></i> Reinitialiser le mot de passe</button>
    </form>
  </div>
</div>