<div class="center">
  <div class="login">
    <h2>Mot de passe oublié</h2>
    <form #f="ngForm" (ngSubmit)="f.form.valid && submit()" class="form" method="POST">
      <div class="email">
        <input type="email" autocomplete="off" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Adresse e-mail">
        <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted" >
          Une adresse email est requise pour récupérer votre mot de passe.
        </div>
      </div>
      <button type="submit" (click)="submit()"><i class="fas fa-paper-plane"></i> Envoyer la demande</button>
    </form>
    <p type="button" (click)="return()"><i class="fas fa-undo"></i>Retour</p>
  </div>
</div>